[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=pat
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/pat/.local/bin/i3lock.sh

[Install]
WantedBy=sleep.target

